# Configuration file
token = 'put here your token'
# Helper account API ID
api_id = 123456
# Helper account API Hash
api_hash = 'put here helper account API hash'
# Helper account phone number
phone = 'put here helper account phone number'
# Bot owner's username
owner_username = "put here bot owner's username"
# Default language configuration file
default_lang = 'eng.json'